body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
    height: 768px;
    width: 100%;
    max-width: 1920px;
    background-image: url("img/HEADER.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.container {
    margin: 0 auto;
    padding: 0 20px;
    /*height:inherit;*/
    max-width: 1110px;
    min-width: 600px;
}
.firstChild {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: inherit;
    height: inherit;
}
nav {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}
.menu p {
    display: inline-block;
    font-family:sans-serif;
    text-transform: uppercase;
    height: 16px;
    color: white;
}
.start {
    text-align: center;
    display: flex;
    width: inherit;
    height: fit-content;
    flex-direction: column;
    margin: auto;
}
.start h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-family: 'Signika Negative', sans-serif;
    color: white;
}
.start h2 {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-family: 'Signika Negative', sans-serif;
    color: white;
}
.fitnessColor {
    color: red;
}

.button {
    text-decoration: none;
    display: block;
    background: #292929;
    width: 322px;
    height: 56px;
    border-radius: 28px;
    margin: auto;
    color: white;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
}

.firstCont {
    margin: 0;
    padding: 0;
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*height:397px;*/
    /*width: 100%;*/
    justify-content: center;
    align-items: center;
    /*max-width: 1920px;*/
    max-height: fit-content;
}

.cont1 {
    background-image: url("./img/Group6.png");
    min-height: 397px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content:space-around;    
}
.coach {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.online, .olga {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    height: 22px;
    color: white;

}
.online {
    text-transform: uppercase;
}
.transformation {
    display: flex;
    flex-flow: column;
    align-items: center;
}
/*.twelwe {*/
    /*display: inline-block;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-family:sans-serif;*/
    /*height: 36px;*/
    /*color: #EF3A53;*/
    /*text-transform: uppercase;*/
/*}*/
.cont2 {
    background-image: url("./img/Group7.png");
    min-height: 397px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content:space-around; 
}
.buttonInCont1 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 56px;
    border-radius: 35px;
    border:white 2px solid;
}
.buttonInCont1 p {
    text-transform: uppercase;
    color: white;
}

.second {
    display: flex;
    flex-wrap: wrap;
    min-height: 422px ;
    width: 100%;
    max-width: 1920px;
    background-image: url("img/Group8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.twelve, .twelve2 {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    height: 36px;
    color: #EF3A53;
    text-transform: uppercase;
}
.cont3 {
    width: inherit;
    /*height: 100%;*/
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}

.third {
    display: flex;
    flex-wrap: wrap;
    min-height:530px;
    flex-flow:row;
    justify-content: flex-end;
    width: 100%;
    max-width: 1920px;
    /*min-width: 30%;*/
    /*min-width: 50%;*/
    background-image: url("img/FonAbout.png");
}
   /* .container2 {
    margin: 0 auto;
    padding: 0 20px;
    height:inherit;
    max-width: 72%;
} */

.aboutOlga {
    width: inherit;
    display: flex;
    align-items: center;
    /*height: inherit;*/
}
.aboutOlga p{
    display: inline-block;
    vertical-align: middle;
    /*width: 50%;*/
    /* width: 660px; */
    /* height: inherit; */
    line-height: 2rem;
    font-family: sans-serif;
    font-size: 14px;
    /*display: inline-block;*/
    /*height: inherit;*/
    word-wrap:break-word;
}
.logo2 {
    margin: auto;
    display: block;
    float: right;
}
.four {
    background-image: url("img/GroupPresent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 422px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;     
    max-width: 1920px;
    /* word-wrap:break-word; */
}
.someText {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.four h2 {
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    /* vertical-align: middle; */
}

.five {
    min-height: 680px;
    max-width: 1920px;
    display: flex;
}

.testimonials {
    width: 1110px;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testimonials p {
    font-family: sans-serif;
    font-size: 34px;
    color:black;
    font-weight: bold;
}
.fatParrent {
    display: flex;
    justify-content: flex-start;
}


/* .textFatGirl {
    width: inherit;
    display: flex;
    align-items: center;
    height: inherit;
} */

.textFatGirl p {
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
    /*width: 50%;*/
    /* width: 660px; */
    /* height: inherit; */
    line-height: 2rem;
    font-family: sans-serif;
    font-size: 1em;
    /*display: inline-block;*/
    /*height: inherit;*/
    word-wrap:break-word;
}
.six {
    background-image: url("img/Only.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 422px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column;      */
    max-width: 1920px;
}
.only {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-self: center;
    
}
.only p {
    display: inline-block;
    margin: auto;
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    /*margin: 15px;*/

}

@media screen and (max-width: 500px) {
    .cont1 {
        width: 100%;
    }
    .cont2 {
        width: 100%;
    }
    .firstCont {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /*display: none;*/
    }
    .third {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    p {

        /*font-size: 45px;*/
    }
}
